
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match history</title>
    <link rel="stylesheet" href="/css/matches_history.css">
</head>
<body>
   <div id="header">
       <%- include('./partials/navbar.ejs') %>
   </div> 
   <div id="main">
        <div id="left-content"></div>
        <div id="main-content">
                <% if(battle_data) { %>
            <div id="title">
                <h1>BATTLE #<%= battle_data.id %></h1>
                <br>
                <a href="/user/<%= battle_data.player1_id %>"><%-battle_data.player1_info.displayName %> </a>
                <span> AGAINST </span>
                <a href="/user/<%= battle_data.player2_id %>"><%-battle_data.player2_info.displayName %> </a>
            </div>
            <% if (move_list.length > 0) { %>
            <div class="table-placeholder">
                <table class="tbl">
                        <% for (let turn = 1; turn < move_list.length; turn++ ) { %>
                            <tr>
                                <th><%= turn %></th>
                                <% for (move of move_list[turn]) { %>
                                    <td><%= move.name %></td>
                                <% } %>
                            </tr>
                        <%} %>
                </table>
            </div>
            <% } else { %>
            <p class = "no_data_msg">NO MOVE DATA FOUND</p>
            <% }} else { %>
                <p class = "no_data_msg">BATTLE NOT FOUND</p>
                <% } %>

        </div>
        <div id="right-content"></div>
   </div>
   <div id="footer">
       <%- include('./partials/footer.ejs') %>
   </div>
</body>
</html>