<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
</head>
<body>
    <div id="main">
      <div id="header">
        <%- include("./partials/navbar.ejs")%>
      </div>

      <div id="news">
        <h3 class="news-title">News</h3>
        <ul class="newlist">
          <% data.forEach(function (news) { %>
            <li class="newli"><a class="new-a" href="news/<%= news.id %>">
                <h3><%= news.a_name%></h3>
                <span class="timepost"><%= news.a_date %></span>
            </a></li>
          <% }); %>
        </ul>
      </div>
        </div>

        
        <!-- Script -->
<script>
  function delConfirm() {
  if(confirm("Do you want to delete this article?")){
    document.location.href = "/remove_article/<%= data.id %>";
  }
}
</script>

<!-- Footer -->
        <%- include("./partials/footer.ejs")%>;
<!-- Footer -->
    </div>
</body>
</html>