<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/news_list.css">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
</head>


<body>
    <div id="main">
      <div id="header">
        <%- include("./partials/navbar.ejs")%>
      </div>

      <div id="news">
        <h3 class="news-title">News</h3>
        <ul class="newlist">
          <%if(data){
             data.forEach(function (news) { %>
            <li class="newli"><a class="new-a" href="/a/<%= news.id %>" style="color: white;">
                <h3 class="title-name" style="text-shadow: 2px 2px 2px #000;"><%= news.a_name%></h3>
                <span class="timepost"><%= news.createdAt %></span>
            </a></li>
          <% })}else { %>
            <li class="newli"><p class="new-a">It seem like nothing has been posted yet!</p></li>
          <%  }; %>
        </ul>
      </div>

      
        <!-- Pagination -->

        <nav aria-label="News list page navigation">
            <ul class = "pagination justify-content-end">
                <% switch (parseInt(pag.current)) {
                    case 1:
                        var prev_state = "disabled";
                    case pag.total:
                        var next_state = "disabled";
                        break;
                    default:
                        var prev_state = "";
                        var next_state = "";
                        break;
                }   %>

                <li class="page-item <%= prev_state %>">
                    <a class="page-link" href="/news/<%= parseInt(pag.current)-1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                       <span class="sr-only">Previous</span>
                      </a>
                </li>

                <% for (var i = pag.current - pag.max_show_page; i < pag.current; i++){ 
                    if (i > 0){ %>
                        <li class="page-item"><a class="page-link" href="/news/<%= i %>"><%= i %></a></li>
                <%   }
                 } %>
                 
                <li class="page-item active">
      <a class="page-link" href="news/<%= pag.current %>">  <%= pag.current %> <span class="sr-only">(current)</span></a>
                </li>
                
                <% for (var i = parseInt(pag.current) + 1; i <= (pag.current + pag.max_show_page); i++){
                    if (i <= pag.total){ %>
                        <li class="page-item"><a class="page-link" href="/news/<%= i %>"><%= i %></a></li>
                <%    } 
                 } %>

                <li class="page-item <%= next_state %>">
                    <a class="page-link" href="/news/<%= parseInt(pag.current) + 1 %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                       <span class="sr-only">Next</span>
                      </a>
                </li>
            </ul>
        </nav>
        </div>

<!-- Footer -->
        <%- include("./partials/footer.ejs")%>;
<!-- Footer -->
    </div>
</body>
</html>